<% if flash.has?(:message) %>
  <i><%= flash[:message] %></i>
  <br></br>
<% end %>

<h3>Welcome, <%= @user.name %></h3>
<br></br>
<h4><a href="/locations">Your locations:</a></h4>
<% @user.locations.each do |location| %>
  <a href="/locations/<%= location.id %>"><%= location.name %></a>
  <br></br>
<% end %>
<br></br>

<h4><a href="/plants">Your plants:</a></h4>
<% @user.plants.each do |plant| %>
  <a href="/plants/<%= plant.id %>"><%= plant.name %></a>
  <br></br>
<% end %>
<br></br>

<a href="/users/<%= @user.username %>/edit">Edit/Delete Your Profile</a>
<br></br>
<a href="/users/<%= @user.username %>/password">Change Your Password</a>
<br></br>
<a href="/plants/new">New plant</a>
<br></br>
<a href="/locations/new">New location</a>
<br></br>

<form action="/logout" method="get">
  <input type="submit" value="Logout">
</form>
