Edit Your Plant:
<form action="/plants/<%= @plant.slug %>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Current name: <%= @plant.name %>
  <label for="plant_name">New name:</label><input type="text" name="plant_name">

  Choose an Existing Location:
  <% @user.locations.each do |location| %>
    <input type="checkbox" name="locations[]" value="<%= location.id %>" <%='checked' if @plant.locations.include?(location) %>><%= location.name %></input>
  <% end %>

  <label for="location_name">And/or add a new location:</label><input type="text" name="location_name">

  <input type="submit" value="Edit">
</form>


<form action="/plants/<%= @plant.slug %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
