Plant Name:<%= @plant.name %>
<br></br>
Plant Locations:
<% @plant.locations.each do |location| %>
    <a href="/locations/<%= location.id %>"><%= location.name %></a>
  <br></br>
  <% end %>

<a href="/plants/<%= @plant.id %>/edit">Edit or Delete this plant</a>

<a href="/users/<%= @user.username %>">Your Homepage</a>
