<% if flash.has?(:message) %>
  <i><%= flash[:message] %></i>
  <br></br>
<% end %>
<% if flash.has?(:message1) %>
  <i><%= flash[:message1] %></i>
  <br></br>
<% end %>

<h3>Plant Name:</h4><%= @plant.name %>
<br></br>
<h3>Plant Locations:</h4>
<% @plant.locations.each do |location| %>
    <a href="/locations/<%= location.id %>"><%= location.name %></a>
  <br></br>
  <% end %>

<a href="/plants/new">Add Another Plant</a>
<br></br>
<a href="/plants/<%= @plant.id %>/edit">Edit or Delete this plant</a>
<br></br>
<a href="/users/<%= @user.username %>">Your Homepage</a>
