<h3>Edit Your Location</h3>
<form action="/locations/<%= @location.id %>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Current Name:<%= @location.name %>
  <br></br>
  <label for="location_name">Location Name:</label><input type="text" name="location_name">

  <br></br>
  <h3>Choose an Existing Plant:</h3>
  <% @user.plants.each do |plant| %>
    <input type="checkbox" name="plants[]" value="<%= plant.id %>" <%='checked' if @location.plants.include?(plant) %>><%= plant.name %></input>
  <% end %>

  <br></br>
  <label for="plant_name">And/or add a new plant:</label><input type="text" name="plant_name">


  <input type="submit" value="Edit">
</form>

<br></br>
<form action="/locations/<%= @location.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>

<br></br>
<a href="/users/<%= @user.username %>">Your Homepage</a>
