<% if flash.has?(:message) %>
  <%= flash[:message] %>
  <br></br>
<% end %>

<h4>Location Name:</h4><%= @location.name %>
<br></br>
<h4>Plants in Location:</h4>
<% @location.plants.each do |plant| %>
  <a href="/plants/<%= plant.id %>"><%= plant.name %></a>
  <br></br>
  <% end %>

<a href="/locations/new">Add Another Location</a>
<br></br>
<a href="/locations/<%= @location.id %>/edit">Edit or Delete this location</a>
<br></br>
<a href="/users/<%= @user.username %>">Your Homepage</a>
